
.social {
    margin: .25rem;
  }

  .social.github {
    background-color: #000000;
    color: #fefefe;
  }
  
  .social.github:hover, .social.github:focus {
    background-color: black;
    color: #fefefe;
  }
  
  .social > .fa {
    color: #fefefe;
    margin: .25rem;
  }

  .callout.primary {
    background-color: #008EC1;
    margin: 0 0 0 0;
  }

  #content {
      background-color: #707070;
  } 

  .LI-profile-badge {
    margin: 0.25rem;
  }

  a {
    color:black;
  }

  .button expanded {
    background-color: #008EC1; 
  }

  img {
    width: 100%;
    height: 350px;
  }